html,
body {
  @apply bg-bgColor text-white font-font1;
}

.ct-before-after-banner {
  @apply mt-[150px] flex gap-x-[164px] items-end relative after:absolute after:h-[412px] after:w-[412px] after:rounded-full after:blur-[175px] after:top-[-200px] after:bg-blurColor after:left-[-100px] before:absolute before:h-[412px] before:w-[412px] before:rounded-full before:blur-[175px] before:top-[-200px] before:bg-blurColor before:right-[-220px];
}

.ct-after-story {
  @apply max-w-[713px] w-full font-font1 after:absolute after:h-[612px] after:w-[407px] after:bg-blurColor after:blur-[250px] after:rounded-full after:top-0 after:right-[-200px];
}

.wrapper {
  max-width: 1492px;
  width: 100%;
  margin-inline: auto;
}

.btn-effect {
  // display: inline-block;
  // padding: 16px 40px;
  // font-size: 1.125rem /* 18px */;
  // line-height: 1.75rem /* 28px */;
  // background-image: var(--btn-gradient);
  // color: white;
  // font-weight: 600;
  // border-radius: 8px;
  user-select: none;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  &:hover::before {
    left: auto;
    right: 0;
    width: 100%;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    opacity: 0.1;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
